body {
    background-color: #F4D8CD; 
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
header {
    background-color:#034078;
    display: grid;
    grid-template-columns: 150px auto;
}
nav a {
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
    padding: 35px;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a:hover {
    background-color: #034078;
    color: #48BEFF;
}
.logo {
    padding-top: 5px;
    max-width: 100px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}